@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Cursive', sans-serif;
    background: #fff0f6; /* soft pink */
  }
  
  h1, h2, h3, p {
    font-family: 'Dancing Script', cursive; /* smooth, fancy font */
  }
